table.meals {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.meals th, td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
}

div.meal div {
    width: 555px;
    display: flex;
    align-items: center;
}

div.meal input {
    width: 400px;
}

div.meal label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 15px;
}
div.meal div.button {
    width: 555px;
    display: flex;
    justify-content: flex-end;
}